@model PizzeriaProject.Models.Items.PizzaItem

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete "@Html.DisplayFor(model => model.Name)" pizza</h2>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Size):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Size.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dough):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dough.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredients):
        </dt>
        <dd class="col-sm-10">
            <div>
                <ul class="list-inline">
                    @foreach (var ingredient in Model.Ingredients)
                    {
                        <li>@ingredient.Ingredient.Name (Quantity: @ingredient.Quantity)</li>

                    }
                </ul>
            </div>
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Timestamp" />
        <p>
            <input type="checkbox" id="confirmCheckBox" />
            <label class="col-form-label">Confirm deletion</label>
        </p>
        <input type="submit" value="Delete" class="btn btn-danger" id="confirmButton" disabled />
        <a asp-action="Index">Back to List</a>
    </form>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            var checkbox = document.getElementById("confirmCheckBox")
            var confirmbtn = document.getElementById("confirmButton")

            checkbox.onchange = function () {
                confirmbtn.disabled = !this.checked;
            };
        });

    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
